.form-text-area,
.form-text-field {
  border: 1px solid #D0D0D0;
  padding: 7.5px 10px;
}

.form-text-area:focus,
.form-text-field:focus {
  background-color: #FEF0D7;
  outline-width: 0;
}

.form-text-area {
  box-sizing: border-box;
  width: 100%;
}
